<section class="section">
  <div class="form-dinamico">
    <h4>Crear Inquilino</h4>
    <mat-divider></mat-divider>
    <app-form-dinamico [dominio]="'inquilinos'" (entidadCreada)="onEntidadCreada($event)"></app-form-dinamico>

  </div>
  <div class="form-garantes">
    <h4>Datos del garante</h4>
    <mat-divider></mat-divider>
    <form class="form-garantes__formulario" [formGroup]="formularioGarante" (ngSubmit)="finalizarCreacionGarantes(this.inquilinoAux.id)">
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput   placeholder="Nombre del garante" formControlName="nombre"/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput   placeholder="email del garante" formControlName="email"/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Telefono</mat-label>
        <input matInput   placeholder="telefono del garante" formControlName="telefono"/>
      </mat-form-field>
      <div class="botones">
         
        <button mat-icon-button type="button" (click)="agregarGarante(this.inquilinoAux.id)" [disabled]="!formularioGarante.valid">
          <mat-icon [color]="cambiarColorbotones ? 'primary' : 'null'" >add</mat-icon>
        </button>
        <button mat-icon-button type="submit" [disabled]="!formularioGarante.valid">
          <mat-icon [color]="cambiarColorbotones ? 'primary' : 'null'" >check</mat-icon>
        </button>
       
      </div>
     

    </form>
  </div>
  <div class="footer">
    <button mat-raised-button  [disabled]="!habilitarTerminarCreacion"  color="accent" (click)="terminarCreacion()">Crear Inquilino</button>
  </div>
</section>
    