<div class="contenedor-formulario">
    <h4>Propietario</h4>    
    <form class="formulario" [formGroup]="formularioPropietario">
         <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>DNI</mat-label>
            <input matInput formControlName="dni">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Telefono</mat-label>
            <input matInput formControlName="telefono">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>e-mail</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Cbu</mat-label>
            <input matInput formControlName="cbu">
        </mat-form-field>
        <span></span>
        <button mat-flat-button ="submit" (click)="enviarFormulario()" [disabled]="formularioPropietario.invalid">
            Crear</button>
    </form>
   
</div>