<div class="contenedor-formulario">
    <h4>Propietario</h4>    
    <form class="formulario">

        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Placeholder">
        </mat-form-field>
         <mat-form-field appearance="fill">
            <mat-label>Mail</mat-label>
            <input matInput placeholder="Placeholder">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Cbu</mat-label>
            <input matInput placeholder="Placeholder">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Cbu</mat-label>
            <input matInput placeholder="Placeholder">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Cbu</mat-label>
            <input matInput placeholder="Placeholder">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Cbu</mat-label>
            <input matInput placeholder="Placeholder">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Cbu</mat-label>
            <input matInput placeholder="Placeholder">
        </mat-form-field>
    </form>
</div>