@import "../../../styles.scss";

.formulario{
  padding: 10px;
  padding-top: 15px;
  p{
    color: $neutral-400;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: flex-start;
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
