@import '../../../../../styles.scss';
.datos{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 17px;
    .dato{
        .clave{
            font-weight: bold;
        }
        .valor{
            margin-left: 5px;
        }
    }
}
