
<div class="datos">
    <p><strong>Nombre:</strong> {{obtenerCaracteristica('nombre')}}</p>
    <mat-divider></mat-divider>
    <p><strong>Teléfono:</strong> {{obtenerCaracteristica('telefono')}}</p>
    <mat-divider></mat-divider>
    <p><strong>Email:</strong> {{obtenerCaracteristica('email')}}</p>
    <mat-divider></mat-divider>
    <p><strong>DNI:</strong> {{obtenerCaracteristica('dni')}}</p>
    <mat-divider></mat-divider>
    <p><strong>CBU:</strong> {{obtenerCaracteristica('cbu')}}</p>
    <mat-divider></mat-divider>
</div>
