
<div class="datos">
    <p><strong>Nombre:</strong> {{entidad.nombre}}</p>
    <mat-divider></mat-divider>
    <p><strong>Teléfono:</strong> {{entidad.telefono}}</p>
    <mat-divider></mat-divider>
    <p><strong>Email:</strong> {{entidad.email}}</p>
    <mat-divider></mat-divider>
    <p><strong>DNI:</strong> {{entidad.dni}}</p>
    <mat-divider></mat-divider>
    <p><strong>CBU:</strong> {{entidad.cbu}}</p>
    <mat-divider></mat-divider>
    <p><strong>ARRAY IDs:</strong> {{entidad.inmuebles}}</p>
    <mat-divider></mat-divider>
</div>