@import '../../../styles.scss';

.lista-botones {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: start;
    height: 100%;
    .boton{
        width: 150px;
    }
}