
<div class="datos">
    <p><strong>Nombre:</strong> {{inquilino.nombre}}</p>
    <mat-divider></mat-divider>
    <p><strong>Teléfono:</strong> {{inquilino.telefono}}</p>
    <mat-divider></mat-divider>
    <p><strong>Email:</strong> {{inquilino.email}}</p>
    <mat-divider></mat-divider>
    <p><strong>DNI:</strong> {{inquilino.dni}}</p>
    <mat-divider></mat-divider>
    <p><strong>Garante:</strong> {{inquilino.garante}}</p>
    <mat-divider></mat-divider>
    <p><strong>Ingresos:</strong> {{inquilino.ingresos}}</p>
    <mat-divider></mat-divider>
</div>