<div class="item">
    <div class="datos">
        <p>{{propietario.nombre}}</p>
    </div>
    <div class="acciones">
        <button mat-button class="btn btn1">
            <mat-icon fontIcon="visibility" class="icon"></mat-icon>
        </button>
        <button mat-button  class="btn btn2">
            <mat-icon fontIcon="edit" class="icon"></mat-icon>
        </button>
        <button mat-button class="btn btn3">
            <mat-icon fontIcon="close" class="icon"></mat-icon>
        </button>
    </div>
    
</div>
<mat-divider></mat-divider>