@import '../../../../styles.scss';
.item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
    max-width: 1000px;
    
    .datos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 5px;

        p{
            font-size: 18px;
            font-weight: 500;
            color: $neutral-50;
        }
    }
    .acciones{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .btn{
            width: 56px;
            height: 56px;
            border-radius: 50%;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
           
            .icon{
                font-size: 27px;
                width: 27px;
                height: 27px;
            }
        }
        .btn1{
               color: $primary-300;
        }
        .btn2{
            color: $accent-1;
        }
        .btn3{
            color: $error;
        }
    }
}