@import '../../../styles.scss';
.modal-base {
  padding: 20px;
  padding-top: 70px;
  border-radius: 20px;
  background-color: $neutral-600;
  color: $neutral-100;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  height: 80vh;
  .titulo {
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;

  }
  .divider-titulo{
    border-top-color: $primary-300;
  }
  .cuerpo{
    overflow-y: auto ;
    margin: 20px 0;
  }
  ::-webkit-scrollbar {
    width: 5px; /* Ancho para scroll vertical */

    }
    ::-webkit-scrollbar-track {
        background: $primary-900;
        border-radius: 5px;
    }
    ::-webkit-scrollbar-thumb {
      background: $neutral-500;
      border-radius: 10px;
  }
  
}
