@use '@angular/material' as mat;
@import '../../../styles.scss';

.head{
    padding-top: 20px;
    .titulo{
        color: $primary-500;
        text-align: center;
        padding: 20px 10px;
    }
    .icono{
        color: $accent-2;
    }
}
