
<section class="section">
  <h4>Crear Contrato</h4>
  <form [formGroup]="formulario" (ngSubmit)="enviarContrato(formulario.value)" class="formulario">
    <div class="grid">
      <div class="campo"> 
        <mat-form-field appearance="fill">
          <mat-label>Propietario</mat-label>
          <input matInput formControlName="propietarioId" />
        </mat-form-field>
        
      </div>
      <div class="campo">
        <mat-form-field appearance="fill">
          <mat-label>Inquilino</mat-label>
          <input matInput formControlName="inquilinoId" />
        </mat-form-field>
      </div>
      <div class="campo">
        <mat-form-field appearance="fill">
          <mat-label>Inmueble</mat-label>
          <input matInput formControlName="inmuebleId" />
        </mat-form-field>
      </div>
      <div class="campo">
        <mat-form-field appearance="fill">
          <mat-label>Renta Mensual</mat-label>
          <input matInput type="number" formControlName="rentaMensual" />
        </mat-form-field>
      </div>
      <div class="campo">
        <mat-form-field appearance="fill">
          <mat-label>Fecha Fin</mat-label>
          <input matInput type="date" formControlName="fechaFin" />
        </mat-form-field>
      </div>
      <div class="campo">
        <mat-form-field appearance="fill">
          <mat-label>Fecha Inicio</mat-label>
          <input matInput type="date" formControlName="fechaInicio" />
        </mat-form-field>
        
      </div>
    </div>
    <button mat-raised-button color="primary" type="submit">Crear Contrato</button>
  </form>
</section>
    