
<section class="section">
  <h4>Crear Contrato</h4>
  <form [formGroup]="formulario" (ngSubmit)="enviarContrato(formulario.value)" class="formulario">
    <div class="grid">
      <div class="campo"> 
        <mat-form-field>
            <mat-label>Propietario</mat-label>
            <mat-select formControlName="propietarioId" >
              @for (propietario of propietariosLista; track propietario.id) {
                    <mat-option [value]="propietario.id" >{{nombrePropietario(propietario)}}</mat-option>
                  }
            </mat-select>
          </mat-form-field>
      </div>
      <div class="campo">
        <mat-form-field>
          <mat-label>Inquilino</mat-label>
          <mat-select formControlName="inquilinoId">
            @for (inquilino of inquilinosLista; track inquilino.id) {
                  <mat-option [value]="inquilino.id">{{nombreInquilino(inquilino)}}</mat-option>
                }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="campo">
        <mat-form-field appearance="fill">
          <mat-label>Inmueble</mat-label>
          <mat-select formControlName="inmuebleId">
            @if(filteredInmueblesLista.length === 0) {
              <mat-option disabled>No hay inmuebles disponibles para este propietario</mat-option>
            }
            @else {
              @for (inmueble of filteredInmueblesLista; track inmueble.id) {
                  <mat-option [value]="inmueble.id">{{inmueble.id}}</mat-option>
                }
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="campo">
        <mat-form-field appearance="fill">
          <mat-label>Renta Mensual</mat-label>
          <input matInput type="number" formControlName="rentaMensual" />
        </mat-form-field>
      </div>
      <div class="campo">
       <mat-form-field appearance="fill">
          <mat-label>Tiempo de contrato</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="Inicio" formControlName="fechaInicio">
            <input matEndDate placeholder="Fin" formControlName="fechaFin">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      </div>
      <div class="campo">
        <mat-form-field appearance="fill">
          <mat-label>Titulo</mat-label>
          <input matInput formControlName="titulo" />
        </mat-form-field>
      </div>
    </div>
    <button mat-raised-button color="primary" type="submit" [disabled]="formulario.invalid"  >Crear Contrato</button>
  </form>

</section>
    