@import '../../../styles.scss';
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-height: 65vh;
    padding-top: 25px;
    scrollbar-width: thin;
    scrollbar-color: $primary-500 $neutral-800;
    width: 95%;
    background-color: $neutral-800;
    margin: 10px;
    border-radius: 15px;
    color: $primary-500;
    .lista{
        overflow-y: auto;

    }
}
::-webkit-scrollbar {
                width: 8px;
            }
    ::-webkit-scrollbar-track {
                background: $neutral-800;
            }
    ::-webkit-scrollbar-thumb {
                background-color: $primary-500;
                border-radius: 10px;
                border: 2px solid $neutral-800;}



