@import '../../../styles.scss';
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-height: 65vh;
    padding-top: 25px;
    width: 95%;
    background-color: $neutral-800;
    margin: 10px;
    border-radius: 15px;
    color: $primary-500;
    .lista{
        overflow-y: auto;

    }
}
::-webkit-scrollbar {
    width: 8px; /* Ancho para scroll vertical */
    }
::-webkit-scrollbar-track {
    background: $primary-900;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: $neutral-500;
  border-radius: 10px;
  transition: background-color 0.25s ease;
}
::-webkit-scrollbar-thumb:hover {
  background: $neutral-300;

}

