@import "../../../../styles.scss";

.info-entidad{
    padding-top: 15px;
    max-height: 50%;
    width: 80%;
    .propiedad{
        color: $neutral-300;
        .strong{
            color: $primary-900;
        }
    }
}