<div class="div">
    <!-- // aca esta el nav bar y el sidebar -->
     <mat-drawer-container class="nav-bar">
                <mat-drawer mode="over" class="drawer" [opened]="abrirSidenav">
                        <app-sidebar (evento)="eventoSidenav()" />
                </mat-drawer>
                <mat-drawer-content class="drawer-content">
                    <app-lista-contratos (evento)="eventoSidenav()" />
                </mat-drawer-content>
    </mat-drawer-container>
       

    <div class="lado-derecho">
        <app-head class="head"></app-head>
        <div class="body">
            <app-main></app-main>
        </div>
    </div>
</div>