@use "../styles.scss" as *;

:host {
  display: block;
  height: 100vh;
  overflow: hidden;
}

.div {
  display: grid;
  grid-template-columns: 3fr 8fr;
  height: 100%;
  min-height: 0;

  .nav-bar {
    height: 100%;

    .drawer {
      width: 100%;
      scrollbar-color: $neutral-600 $neutral-800;
    }
    .drawer-content {
      width: 100%;
      padding: 10px;
    }
  }
  .lado-derecho {
    width: 100%;
    max-width: 100%;
    min-height: 0;
    overflow: hidden;
    background-color: $primary-900;
    .body {
      display: flex;
      flex-direction: column;
      height: 100%;
      min-height: 0;
      z-index: 1;
    }
  }
}
