@import '../styles.scss';
.layout-container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100%;
    gap: 0px;
    .nav-bar{
        width: 15vw;
    }
    .body{
        width: 85vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: $secondary-900;
        .header{
            height: 10vh;
            background-color: $secondary-600;
        }
    }
}