.header{
    height: 20%;
    z-index: 10;
}
.body{
        z-index: 1;
        height: 80%;
        display: flex;
        flex-direction: row;
        .nav-bar{
            width: 200px;
            height: 80vh;
            border-right: 1px solid #1a1a1a;
        }
        .main-content{
            flex-grow: 1;
            overflow-y: auto;
            height: 80vh;
        }
    }