@import '../styles.scss';
.layout-container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100%;
    gap: 0px;
    .nav-bar{
        width: 15vw;
        background-color: $neutral-800;
    }
    .body{
        width: 85vw;
        height: 100%;
        max-height: 100vh;
        overflow-y: auto;
        scrollbar-width: auto;
        scrollbar-color: $primary-500 $neutral-800;
        display: flex;
        flex-direction: column;
        background-color: $primary-900;
        
        //estilos scrollbar
        &::-webkit-scrollbar-track {
            background: $neutral-800;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $primary-500;
            border-radius: 10px;
            border: 2px solid $neutral-800;
        }
        .header{
            height: 10vh;
            background-color: $neutral-700;
        }   
    }
}