<div class="datos">
    @if(entidad !== null){
        <p><strong>Inmueble:</strong> {{entidad.inmuebleId}}</p>
        <mat-divider></mat-divider>
        <p><strong>Inquilino:</strong> {{inquilinoNombre}}</p>
        <mat-divider></mat-divider>
        <p><strong>Propietario:</strong> {{propietarioNombre}}</p>
        <mat-divider></mat-divider>
        <p><strong>Fecha de inicio:</strong> {{entidad.fechaInicio | date}}</p>
        <mat-divider></mat-divider>
        <p><strong>Fecha de fin:</strong> {{entidad.fechaFin | date}}</p>
        <mat-divider></mat-divider>
        <p><strong>Renta mensual:</strong> {{entidad.rentaMensual | currency}}</p>
        <br>
        <br>
        <button mat-raised-button color="primary" (click)="verLiquidacion()">Ver liquidación</button>
    }@else{
        <p>No se encontró información del contrato.</p>
    }
</div>
