@import "../../../../styles.scss";

.section {
  margin: 30px 10px;
  padding: 20px;
  border-radius: 15px;
  background-color: $neutral-800;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  h4{
    color: $primary-500;
    margin: 0;
  }
}
