@import "../../../styles.scss";

.head{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $secondary-500;
    color: white;

    &__notificaciones {
        display: flex;
        justify-content: end;
        align-items: end;
        width: 100%;
        gap: 5px;
        
    }

    &__fecha {
        margin: 1rem 1rem 1rem 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding:0 20px;

        border-left:1px solid $secondary-300;

        &--dia {
            font-size: 1.2rem;
            font-weight: bold;
        }

        &--mes {
            font-size: 0.9rem;
        }
    }
}