<div class="side-bar">
    <div class="botones">
        @for (dominio of dominiosActivos; track $index){
         <div class="div-dominio">
            <button mat-raised-button (click)="enviarDominio(dominio)" class="boton-dominio"> {{dominio}} </button>
            @if(consultarDominioActivo(dominio)){
                <div class="sub-botones">
                <ul>
                    @for(boton of obtenerBotonesDeAccion(dominio); track $index){
                        <li>
                            <button mat-button [routerLink]="boton.ruta" class="boton-accion"> {{boton.nombre}} </button>
                        </li>
                    }
                </ul>
            </div>
            }
         </div>
        }   
    </div>
</div>