@import '../../../styles.scss';
.side-bar{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .buttons{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 10px;
        padding-top :30px ;
    }
}