@import '../../../styles.scss';
.side-bar{
    background-color: $color-principal;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .buttons{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 10px;
        padding-top :30px ;
        button{
            background-color: $color-secundario;    
        }
    }
}