<app-card-list entidad="Inmuebles">
  <div class="acciones">
    <p>Filtrar:</p>

    <mat-form-field class="form-buscar" appearance="fill">
      <mat-label>Buscar</mat-label>
      <mat-icon matSuffix class="icono-buscar">search</mat-icon>
      <input
        type="text"
        matInput
        [ngModel]="$busquedaTexto()"
        (ngModelChange)="$busquedaTexto.set($event)"
        placeholder="Nombre del propietario "
        aria-label="Buscar propietario "
      />
    </mat-form-field>
  </div>
  <mat-divider></mat-divider>
  @for (propietario of $listaPropietarios; track propietario.id) {
    <div class="header-item">
      <mat-divider></mat-divider>
      <p>{{ propietario.nombre }}</p>
    </div>
    @for (inmueble of propietario.listaInmuebles; track inmueble) {
      @if (obtenerInmueblePorId(inmueble); as inmuebleEncontrado) {
        <div class="item">
          <mat-accordion>
            <mat-expansion-panel
              (opened)="panelOpenState.set(true)"
              (closed)="panelOpenState.set(false)"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ inmuebleEncontrado.direccion }}
                </mat-panel-title>
                @if (inmuebleEncontrado.activo) {
                  <mat-panel-description class="descripcion">
                    Activo
                  </mat-panel-description>
                }
              </mat-expansion-panel-header>
              <app-accordion-inmueble
                [entidad]="inmuebleEncontrado"
                (eliminar)="eliminarInmueble($event)"
                (editar)="editarInmueble($event)"
              ></app-accordion-inmueble>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      }
    }
  }
</app-card-list>
