@import "../../../../styles.scss";

.container{
    margin: 10px;
    padding: 20px;
    background-color: $color-claro1;
    border-radius: 20px;
    border: 2px solid $color-oscuro;
    h4{
        color: #1a1a1a;
    }
    p{
        font-size: 20px;
        color: #1a1a1a;
    }
}