<app-card-list entidad="Propietarios">
    @for(propietario of $listaPropietarios; track propietario.id) {
        <br>
        <div class="item">
            <mat-accordion>

                <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                    <mat-expansion-panel-header>
                    <mat-panel-title> {{obtenerCaracteristica(propietario, 'nombre')}} </mat-panel-title>
                    <!-- <mat-panel-description>
                    </mat-panel-description> -->
                    </mat-expansion-panel-header>
                <app-accordion-propietario 
                    [entidad]="propietario" 
                    (eliminar)="eliminarPropietario($event)"
                    (editar)="editarPropietario($event)"
                ></app-accordion-propietario>


                </mat-expansion-panel>
            </mat-accordion>
        </div>
    }
</app-card-list>
