@import '../../../styles.scss';

.contenedor{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height:90vh; /* o el alto que necesites */
  background-color: $primary-900;
  .formulario {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
  }
  .contenedor_lista{
    background-color: $neutral-700;
    border-bottom-left-radius:8px ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;
    max-height: 90vh;
    min-height: 0;
    padding: 12px;

    h6{
      align-self: center;
      color: $neutral-200;
      margin: 0;
      border-bottom: 1px solid $neutral-600;
      padding-bottom: 20px;
    }
    .lista{
      flex: 1 1 auto;
      min-height: 0;
      max-height: 75vh;
      display: block;
      overflow-y: auto;
      padding-bottom: 10px;
      &::-webkit-scrollbar {
        width: 8px; /* Ancho del scrollbar */
      }
      mat-list-item{
        height: auto !important;
      }
      .item{
        color: $neutral-400;
        width: 100%;
        padding: 10px 0;
        .item_texto{
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 20px;
        }
      }
    }
    .contenedor-boton{
      padding-top:20px ;
      height: 40px;
      border-top: 1px solid $neutral-600;
      align-self: center;

    }
  }

}
