<form [formGroup]="formularioEditarPropietario" class="formulario">
    <ng-container >
        @for(c of entidad.caracteristicas; track $index){
            <mat-form-field appearance="fill">
                <mat-label>{{ c.clave }}</mat-label>
                <input
                matInput
                [formControlName]="c.clave"
                [placeholder]="c.clave">
            </mat-form-field>
        }
    </ng-container>
</form>
    <button type="submit" mat-flat-button [disabled]="!this.formularioEditarPropietario.valid" (click)="guardarCambios()">Guardar cambios</button>
