<form [formGroup]="formularioEditarContrato" class="formulario">
    <ng-container >
    <mat-form-field>
       <mat-select formControlName="propietarioId">
              @for (propietario of propietariosLista; track propietario.id) {
                    <mat-option [value]="propietario.id">{{obtenerCaracteristica(propietario,"nombre","Nombre no encontrado")}}</mat-option>
                  }
        </mat-select>
    </mat-form-field> 
   <mat-form-field>
       <mat-select formControlName="inquilinoId">
              @for (inquilino of inquilinosLista; track inquilino.id) {
                    <mat-option [value]="inquilino.id">{{obtenerCaracteristica(inquilino,"nombre","Nombre no encontrado")}}</mat-option>
                  }
        </mat-select>
    </mat-form-field> 
    <mat-form-field>
       <mat-select formControlName="inmuebleId" >
              @for (inmueble of inmueblesLista; track inmueble.id) {
                    <mat-option [value]="inmueble.id">{{inmueble.id}}</mat-option>
                  }
        </mat-select>
    </mat-form-field> 
    <mat-form-field>
       <mat-select formControlName="estado" >
              @for (estado of estadosLista; track estado) {
                    <mat-option [value]="estado">{{estado}}</mat-option>
                  }
        </mat-select>
    </mat-form-field>
    </ng-container>

</form>
    <button type="submit" mat-flat-button [disabled]="!this.formularioEditarContrato.valid" (click)="guardarCambios()">Guardar cambios</button>