<form [formGroup]="formularioEditarContrato" class="formulario">
    <ng-container >
       <mat-form-field appearance="fill">
            <mat-label>{{entidad.inmuebleId}}</mat-label>
            <input matInput 
            [formControlName]="'inmuebleId'" 
            placeholder="{{entidad.inmuebleId}}">
       </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>{{entidad.inquilinoId}}</mat-label>
          <input matInput 
          [formControlName]="'inquilinoId'" 
          placeholder="{{entidad.inquilinoId}}">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>{{entidad.fechaInicio}}</mat-label>
            <input matInput 
            [formControlName]="'fechaInicio'" 
            placeholder="{{entidad.fechaInicio}}">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>{{entidad.fechaFin}}</mat-label>
            <input matInput 
            [formControlName]="'fechaFin'" 
            placeholder="{{entidad.fechaFin}}">
        </mat-form-field>
    </ng-container>

</form>
    <button type="submit" mat-flat-button [disabled]="!this.formularioEditarContrato.valid" (click)="guardarCambios()">Guardar cambios</button>
