<section class="section">
  <div class="section__head">
    <h4>Crear Inmueble</h4>
  
    <mat-form-field class="form-field" >
      <mat-label>Propietario</mat-label>
      <mat-select [(ngModel)]="propietarioSeleccionado" required>
        @for(propietario of propietarios; track $index){
            <mat-option [value]="propietario">
              {{ getNombrePropietario(propietario) }}
            </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Direccion</mat-label>
      <input matInput [(ngModel)]="direccion" required />
    </mat-form-field>
  </div>

  <app-form-dinamico [dominio]="'inmuebles'" (entidadCreada)="onEntidadCreada($event)">
  </app-form-dinamico>
</section>
