<section class="section">
  <div class="section__head">
    <h4>Crear Inmueble</h4>
    <mat-form-field class="form-field">
      <mat-label>Propietario</mat-label>
      <input
        matInput
        type="text"
        [formControl]="propietarioControl"
        [matAutocomplete]="autoPropietario"
        required
      />
      <mat-autocomplete
        #autoPropietario="matAutocomplete"
        [displayWith]="displayPropietario"
        (optionSelected)="onPropietarioSeleccionado($event)"
      >
        @for (propietario of propietariosFiltrados; track propietario.id) {
          <mat-option [value]="propietario">
            {{ getNombrePropietario(propietario) }}
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Direccion</mat-label>
      <input matInput [(ngModel)]="direccion" required />
    </mat-form-field>
  </div>

  <app-form-dinamico
    [dominio]="'inmuebles'"
    (entidadCreada)="onEntidadCreada($event)"
  >
  </app-form-dinamico>
</section>
