$color-oscuro: #6b9080;
$color-principal: #a4c3b2;
$color-secundario: #cce3de;
$color-claro1: #eaf4f4;
$color-claro2: #f6fff8;

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html, body { height: 100%; }
