// =============================
// PRIMARY — Cyan (#00DDDD)
// =============================
$primary-100: #ccffff;
$primary-200: #99f6f6;
$primary-300: #66eeee;
$primary-400: #33e5e5;
$primary-500: #00dddd;
$primary-600: #00b8b8;
$primary-700: #009999;
$primary-800: #007a7a;
$primary-900: #005a5a;

// =============================
// SECONDARY — Verde petróleo (#004747)
// =============================
$secondary-100: #c4e5e5;
$secondary-200: #9acbcb;
$secondary-300: #70b2b2;
$secondary-400: #468888;
$secondary-500: #004747;
$secondary-600: #003c3c;
$secondary-700: #003232;
$secondary-800: #002828;
$secondary-900: #001e1e;

// =============================
// NEUTRALS — Gris verdoso (#3E4849)
// =============================
$neutral-50: #f1f5f5;
$neutral-100: #dde3e3;
$neutral-200: #c8d0d0;
$neutral-300: #aab6b6;
$neutral-400: #889595;
$neutral-500: #3e4849;
$neutral-600: #323a3b;
$neutral-700: #262c2d;
$neutral-800: #191e1e;
$neutral-900: #0d1010;

// =============================
// ACCENTS (complementarios cálidos)
// =============================
$accent-1: #ff9f50; // naranja suave
$accent-2: #ff6f4c; // coral apagado
$accent-3: #ffd5b3; // durazno claro

// =============================
// FUNCIONALES (UI states)
// =============================
$success: #3cb878;
$warning: #f4b400;
$error: #d64550;
$info: #00bebe;

//lilas y violetas
$violeta-oscuro: #3e064fab;
$violeta-claro: #994081;
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.snackbar-color {
  .mdc-snackbar__surface {
    background-color: $neutral-800 !important;
  }

  .mdc-snackbar__label {
    color: $primary-200;
  }

  .mdc-snackbar__actions .mdc-button {
    color: $secondary-300 !important;
  }
}
html,
body {
  height: 100%;
}
