<div class="contenedor-formulario">
    <h4>Inquilino</h4>    
    <form class="formulario" [formGroup]="formularioInquilino">
         <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>DNI</mat-label>
            <input matInput formControlName="dni">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Telefono</mat-label>
            <input matInput formControlName="telefono">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>e-mail</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Garante</mat-label>
            <input matInput formControlName="garante">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Ingresos</mat-label>
            <textarea matInput formControlName="ingresos"></textarea>
        </mat-form-field>
        <button mat-flat-button ="submit" (click)="enviarFormulario()" [disabled]="formularioInquilino.invalid">
            Crear</button>
    </form>
   
</div>