@import '../../../../styles.scss';
 .contenedor-formulario{
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    width: 80%;
    background-color: $neutral-800;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
    overflow: hidden;
   .izquierda{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
        h4{
            padding-left:50px ;
            padding-bottom: 20px;
            color: $primary-500;
        }
   }
   .izquierda{
        max-height: 50vh;
   }
}


