<div class="item">
    <div class="datos">
       <p>{{titulo}}</p>
    </div>
    <div class="acciones">
        <button mat-button class="btn btn1" (click)="verEntidad()">
            <mat-icon fontIcon="visibility" class="icon"></mat-icon>
        </button>
        <button mat-button  class="btn btn2" (click)="editarEntidad()">
            <mat-icon fontIcon="edit" class="icon"></mat-icon>
        </button>
        <button mat-button class="btn btn3" (click)="eliminarEntidad()">
            <mat-icon fontIcon="close" class="icon"></mat-icon>
        </button>
    </div>
    
</div>
<mat-divider></mat-divider>