<br>
<div class="item">
    <mat-accordion>

    <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header>
        <mat-panel-title> {{titulo}} </mat-panel-title>
        <!-- <mat-panel-description>
        </mat-panel-description> -->
        </mat-expansion-panel-header>
        <p>Contenido del panel</p>
        <app-ver-inquilino [entidad]="entidad"></app-ver-inquilino>

    </mat-expansion-panel>
    </mat-accordion>
</div>
